@{
    ViewBag.TitleValue = "KIPP - HSR";
}

<!--<div class="survey-landing-header">Suggestions for reviewing the reports below:</div>-->

<ul class="content-bullet">
    <li>
        <a href="https://kippshare.shelf.io/read/37a8852f-fcc5-4133-ab2e-e2f18966070a?parentId=826bdc7c-c94d-4588-a3c6-2f1013c005c4&view=card-view&trigger=title&searchEventId=01GJDGY79SWY5DNCRSKZRADP6R&source=shelf" target="_blank">Survey Overview and Administration Details</a>
    </li>
    <li>
        <a href="https://kippshare.shelf.io/read/6789b3fd-a651-4e06-b379-ac13943b3a5d?view=snippet-view&trigger=title&searchEventId=bcaa325d-6190-4b05-b856-56bdd05ce761&source=shelf" target="_blank">Guidance for Network Leaders</a>
    </li>
    <li>
        <a href="https://kippshare.shelf.io/read/1ad3c80c-05e3-461b-8379-fb740624ab7f?view=snippet-view&trigger=title&searchEventId=a71ce3c8-e6af-41a4-bc02-fb9b2d1b08d3&source=shelf" target="_blank">Potential Applications and Use Cases</a>
    </li>
    <li>
        <a href="https://kippshare.shelf.io/?cp=1&fi=09b5778e-8cd3-4d12-965f-35285b99e3dd&it=snippet&ps=20&sb=CREATED_DATE&so=DESC" target="_blank">Case Studies</a>
    </li>
    <li>
        <a href="https://tools.tntp.org/confluence/display/IHC/Insight+Help+Center+Home" target="_blank">TNTP Insight Help Center</a>
    </li>
</ul>

