.k-grid th.k-header, .k-link,
.k-grid-header {
    background: #60A2D6;
    color: white;
    text-align: center;
}

    .k-grid-header .k-header > .k-link {
        color: white;
    }

.k-grid .k-alt {
    background-color: #F4EFEB; /* specify the alternate background-color */
}

.k-grid tr:hover {
    background-color: #F4EFEB;
}

.k-grid td.k-state-selected:hover, .k-grid tr.k-state-selected:hover {
    background-color: #F4EFEB;
    background-image: none;
    color: black;
}

    .k-grid td.k-state-selected:hover, .k-grid tr.k-state-selected:hover td {
        background-color: #F4EFEB;
        color: black;
    }

tr.k-state-selected {
    background-color: #F4EFEB;
    color: black;
}

td.k-state-selected {
    background-color: inherit;
    color: black;
}

.k-list > .k-state-selected {
    background-color: transparent;
    border-color: transparent;
    color: black;
}

.k-widget .k-dropdown .k-header {
    background-color: white;
}

.k-grid, .k-grid * {
    border-color: #BEB7B6 !important;
}

.alert {
    padding: 5px;
    margin-bottom: 0px;
}

.errortextbox {
    border: 1px solid red;
}